---
import { formatDate } from '@/utils/data.util';
import Section from './Section.astro';

interface Props {
	title: string;
	author: string;
	minutesRead: string;
	pubDate: string;
	img: {
		src: string;
		alt: string;
	};
}

const { title, pubDate, minutesRead, img } = Astro.props;

const formattedDate = formatDate(pubDate);
---

<Section>
	<div class="flex flex-col items-center">
		<div class="relative px-14 pt-6 pb-4 text-center">
			<p class="text-4xl font-bold">{title}</p>
		</div>
		<div class="text-sm">
			<span>{formattedDate}</span> - <span>{minutesRead}</span>
		</div>

		{img.src ? <img src={img.src} alt={img.alt} /> : null}
	</div>
</Section>
